*
{
    margin: 0;
    padding: 0;
}
body{
    background-image: url('./images/background.jpg');
    background-size: cover; /* This will make the image cover the entire background */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed; /* Makes the background image fixed when scrolling */
    background-position: center; /* Centers the image */
    font-family: poppins;
}
#navbar
{
    
    background-color:#c7b198;
    width: 100%;
    margin-bottom: 1px;
}
.lead{
    color: white !important;
    
}
#lead{
    border-radius: 10px;
}
.btn
{
    background-color: green;
    color: white;
    padding: 10px;
    font-size: large;
}
a{
    text-decoration: none;
    color: white;
}
.hero-section {
    padding: 20px 0;
    background-color: rgba(46, 44, 44, 0.389);
}

.hero-section h1 {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.2;
}
#hero-content{
    color: white;
    
    
}
.hero-section .text-primary {
    color: #28a745;
}

.hero-section p.lead {
    font-size: 1.2rem;
    color: #6c757d;
    margin-bottom: 30px;
}

.hero-section .btn-primary {
    background-color: #28a745;
    border-color: #28a745;
    padding: 10px 30px;
}

.carousel-item {
    max-height: 450px;
}

.carousel-item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #c7b198;
    border-radius: 50%;
    padding: 15px;
}

.carousel-control-prev-icon::after,
.carousel-control-next-icon::after {
    font-size: 20px;
}

#container
{
    background-color: rgba(46, 44, 44, 0.318) !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    color: white;
}
#containersearch
{
    
    background-color: #c7b198;
}
.btn
{
    background-color: #4d727e;
}
footer
{
    background-color: #c7b198;
    margin-top: 1rem;
}
body{
    font-family: poppins;
}
.foot-list,.copy{
   padding: 15px;
}
.foot-list li a{
    text-decoration: none;
    color: white;
}
.foot-list li a:hover{
    color:green;
}
.foot 
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: -16px;
}
h4
{
    color: green;
    margin-bottom: 30px;
    font-weight: 700;
}
.copy p{
    color: white;
}
hr
{
    color: white;
}
@media(max-width:700px)
{
    .contain
{
    padding: 20px;
    font-size: large;
    display: grid;
    grid-template-columns: 1fr;
}
.foot 
    {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .footer{
        position: relative;
    }
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .footer-section {
        margin: 10px 0;
    }
}